body {
  background-color: rgb(226, 226, 226);
}

.container {
  width: 60%;
  border-radius: 10px;
}

.location {
  font-weight: 700;
  font-size: 32px;
}
.date {
  font-size: 20px;
  margin-bottom: 10px;
}

.title-1 {
  font-size: 25px;
  font-weight: 700;
}

.emoji {
  font-size: 25px;
}

.card-subtitle.first {
  font-weight: 700;
  font-size: 38px;
}

.card-subtitle.second {
  font-size: 30px;
  font-weight: 500;
}

.row-2 {
  font-size: 25px;
}

.weather-details {
  margin-top: 10px;
  font-size: 20px;
}
